<section id="bottom">
    <div class="a">
       <h2 style="margin-left:5%"> <%= crew_info.crew_name %> </h2>

    </div>
    <hr size="4" color="#6BB9ED">
    <div id="content">
        <h2 class="crew_info">동아리 상세정보</h2>
        <!-- 동아리 모집글 작성에서 가져오기 -->

        <form name="crew_detail" action="/crew_detail" method="post">

            <table style="width: 100%; height: 300px; border: 1px solid black;" >
                <tbody>
                        <td> <%= crewrecruit_detail.title %> </td>
                </tbody>
            </table>
            <br><br>


            <table style="width: 100%; height: 300px; border: 1px solid black;" >
                <tbody>
                        <td> <%= crewrecruit_detail.recruit_end %> </td>
                </tbody>
            </table>
            <br><br>


            <table style="width: 100%; height: 300px; border: 1px solid black;" >
                <tbody>
                         <td> <%= crewrecruit_detail.detail_info %> </td>
                </tbody>
            </table>
            <br><br>

        </form>
    </div>
</section>            