
        <section id="bottom">
            <div class="apply_detail">
                <h2>지원자 번호: </h2><textarea class="apply_numb"></textarea><br/>
                <h2>이메일: </h2><textarea class="apply_email"></textarea><br/>
                <h2>성별: </h2><textarea class="apply_gender"></textarea><br/>
                <h2>생년월일: </h2><textarea class="apply_birth"></textarea><br/>

            </div>
        </br>
            <hr size="4" color="#6BB9ED">
            <div class="apply_form">
                <form>
                    <br/><br/>
                    <h2 class="apply_ques">1.지원동기가 무엇인가요?</h2>
                    <input type="text" class="apply_ans">
                    <br/><br/>
                    <h2 class="apply_ques">2.자신의 장단점은 무엇인가요?</h2>
                    <input type="text" class="apply_ans">
                    <br/><br/>
                    <h2 class="apply_ques">3. 관련 경험 중 어려웠던 경험과 해결했던 과정을 서술해주세요.</h2>
                    <input type="text" class="apply_ans">
                    <br/><br/><br/>
                 </form>
            </div>
        </section>